# Brown Scholars Internship 2019-2020 - Urban Wildlife in NYC

New York City is home to many diverse species of wildlife that arrived or existed long before humans settled here.
In October 2016, Mayor Bill de Blasio launched WildlifeNYC, a citywide education and awareness campaign teaching New Yorkers how to live safely and responsibly alongside wild animals including deer, raccoons, and coyotes.

Urban wildlife is any wild animal that lives in an urban environment, such as New York City. Urban wildlife includes birds, mammals, reptiles, fish and amphibians. Some urban wildlife is native, like eastern grey squirrels, while some are non-native, like mute swans. Domesticated and companion animals, like dogs, exotic pets, and farm animals are not considered urban wildlife. Domesticated but feral animals like pigeons and stray cats are also not considered urban wildlife.

https://www1.nyc.gov/site/wildlifenyc/index.page
https://www.nycgovparks.org/programs/wildlife-management/calendar
https://data.cityofnewyork.us/Environment/Urban-Park-Ranger-Animal-Condition-Response/fuhs-xmg2

First we'll start by importing some packages we'll use

In [1]:
import pandas as pd

and then import the data. Your csv file should be in the same directory as the notebook.

In [2]:
data = pd.read_csv('Urban_Park_Ranger_Animal_Condition_Response.csv')

Now that the data is loaded, let's check it out. Did the data load? (Hint: use data.head())

In [3]:
data.head()

,Date and Time of initial call,Date and time of Ranger response,Borough,Property,Location,Species Description,Call Source,Species Status,Animal Condition,Duration of Response,...,311SR Number,Final Ranger Action,# of Animals,PEP Response,Animal Monitored,Rehabilitator,Hours spent monitoring,Police Response,ESU Response,ACC Intake Number
0,06/12/2019 09:20:00 AM,06/12/2019 09:20:00 AM,Manhattan,Washingtom Square Park,on Sidewalk accross from the park near 10 Wash...,Red-tailed Hawk,Other,Native,NaN,0.5,...,NaN,Advised/Educated others,1.0,False,False,NaN,NaN,False,False,NaN
1,06/11/2019 04:15:00 PM,06/11/2019 04:20:00 PM,Bronx,Van Cortlandt Park,Adjacent to VC Golf House,Canada Goose,Public,Native,Injured,0.5,...,1-1-1733837211,Unfounded,1.0,False,False,NaN,NaN,False,False,NaN
2,06/10/2019 01:00:00 PM,06/10/2019 01:30:00 PM,Brooklyn,Irving Square Park,Northwest corner of the park,Parrot,Public,Exotic,NaN,1.5,...,NaN,Unfounded,1.0,False,False,NaN,NaN,False,False,NaN
3,06/09/2019 09:30:00 AM,06/09/2019 10:00:00 AM,Brooklyn,Parade Ground,Prospect Park Parade Grounds near Tennis Center,Chicken,Central,Domestic,Healthy,3.0,...,1-1-1730643971,ACC,1.0,False,False,NaN,NaN,False,False,65352
4,06/09/2019 12:50:00 PM,06/09/2019 12:55:00 PM,Staten Island,Silver Lake Park,Bridge,Red-Eared Slider,Employee,Invasive,Injured,2.0,...,1-1-1724490913,ACC,2.0,True,False,NaN,NaN,False,False,65379 65380

How many rows and columns? (Hint: use data.shape)

In [4]:
data.shape

(982, 22)

What information is available? (Hint: use data.info())

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 22 columns):
Date and Time of initial call       982 non-null object
Date and time of Ranger response    982 non-null object
Borough                             982 non-null object
Property                            982 non-null object
Location                            918 non-null object
Species Description                 969 non-null object
Call Source                         982 non-null object
Species Status                      968 non-null object
Animal Condition                    758 non-null object
Duration of Response                982 non-null float64
Age                                 982 non-null object
Animal Class                        982 non-null object
311SR Number                        573 non-null object
Final Ranger Action                 982 non-null object
# of Animals                        974 non-null float64
PEP Response                        980 non-null object
Animal Monitored                    980 non-null object
Rehabilitator                       53 non-null object
Hours spent monitoring              120 non-null float64
Police Response                     980 non-null object
ESU Response                        982 non-null bool
ACC Intake Number                   402 non-null object
dtypes: bool(1), float64(3), object(18)
memory usage: 162.1+ KB

How many unique entries per column? (Hint: use data.nunique())

In [6]:
data.nunique()

Date and Time of initial call       903
Date and time of Ranger response    943
Borough                               5
Property                            194
Location                            867
Species Description                 145
Call Source                           6
Species Status                        4
Animal Condition                      4
Duration of Response                 29
Age                                   7
Animal Class                         18
311SR Number                        533
Final Ranger Action                   7
# of Animals                         10
PEP Response                          2
Animal Monitored                      2
Rehabilitator                        10
Hours spent monitoring               14
Police Response                       2
ESU Response                          2
ACC Intake Number                   399
dtype: int64

Choose a borough and find the answers to the previous questions.

First, make a dataframe that contains only the data you want. (Hint: use data[data.borough == "the borough you selected"), and don't forget to assign it to a new variable)

In [8]:
staten_island = data[data.Borough == "Staten Island"]

In [10]:
staten_island.head()

,Date and Time of initial call,Date and time of Ranger response,Borough,Property,Location,Species Description,Call Source,Species Status,Animal Condition,Duration of Response,...,311SR Number,Final Ranger Action,# of Animals,PEP Response,Animal Monitored,Rehabilitator,Hours spent monitoring,Police Response,ESU Response,ACC Intake Number
4,06/09/2019 12:50:00 PM,06/09/2019 12:55:00 PM,Staten Island,Silver Lake Park,Bridge,Red-Eared Slider,Employee,Invasive,Injured,2.00,...,1-1-1724490913,ACC,2.0,True,False,NaN,NaN,False,False,65379 65380
16,06/02/2019 05:15:00 PM,06/05/2019 09:20:00 AM,Staten Island,LaTourette Park & Golf Course,Perimeter of park,Snapping turtle,Other,Native,NaN,0.25,...,NaN,Unfounded,1.0,False,False,NaN,NaN,False,False,NaN
25,05/27/2019 10:00:00 AM,05/27/2019 10:00:00 AM,Staten Island,Blue Heron Park,Blue Heron Nature Center,Snapping Turtle,Public,Native,Healthy,0.75,...,NaN,Relocated/Condition Corrected,1.0,False,False,NaN,NaN,False,False,NaN
36,05/20/2019 11:40:00 AM,05/20/2019 12:17:00 PM,Staten Island,Allison Pond Park,Pond,Snapping turtle,Central,Native,Healthy,0.50,...,NaN,Advised/Educated others,1.0,False,False,NaN,NaN,False,False,NaN
37,05/20/2019 11:00:00 AM,05/20/2019 11:45:00 AM,Staten Island,Willowbrook Park,Next to comfort station,Domestic Duck,Employee,Domestic,Healthy,2.00,...,NaN,ACC,5.0,False,False,NaN,NaN,False,False,1-1-1721095361

In [11]:
staten_island.shape

(84, 22)

In [13]:
staten_island.nunique()

Date and Time of initial call       78
Date and time of Ranger response    82
Borough                              1
Property                            35
Location                            68
Species Description                 32
Call Source                          5
Species Status                       3
Animal Condition                     4
Duration of Response                13
Age                                  3
Animal Class                        13
311SR Number                        33
Final Ranger Action                  6
# of Animals                         8
PEP Response                         2
Animal Monitored                     2
Rehabilitator                        0
Hours spent monitoring               8
Police Response                      2
ESU Response                         2
ACC Intake Number                   21
dtype: int64

In [14]:
staten_island.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84 entries, 4 to 958
Data columns (total 22 columns):
Date and Time of initial call       84 non-null object
Date and time of Ranger response    84 non-null object
Borough                             84 non-null object
Property                            84 non-null object
Location                            76 non-null object
Species Description                 83 non-null object
Call Source                         84 non-null object
Species Status                      81 non-null object
Animal Condition                    64 non-null object
Duration of Response                84 non-null float64
Age                                 84 non-null object
Animal Class                        84 non-null object
311SR Number                        33 non-null object
Final Ranger Action                 84 non-null object
# of Animals                        83 non-null float64
PEP Response                        84 non-null object
Animal Monitored                    84 non-null object
Rehabilitator                       0 non-null object
Hours spent monitoring              22 non-null float64
Police Response                     84 non-null object
ESU Response                        84 non-null bool
ACC Intake Number                   21 non-null object
dtypes: bool(1), float64(3), object(18)
memory usage: 14.5+ KB